# Relay 
RELAY_ADDRESS=localhost:3334
RELAY_DOMAIN=relay.vertexlab.io
PROCESSORS=10
QUEUE_CAPACITY=2000
SECRET_KEY=

# Service
REDIS_ADDRESS=localhost:6379
SQLITE_PATH=relay.sqlite

# Credits
CREDITS_REFILL_AMOUNT=100
CREDITS_REFILL_INTERVAL=24h
CREDITS_REFILL_WALK_THRESHOLD=100

# IP Rate Limiting
RATE_TRUSTED_LIST=
RATE_TRUSTED_INITIAL_TOKENS=10000
RATE_TRUSTED_MAX_TOKENS=10000
RATE_TRUSTED_TOKENS_PER_INTERVAL=2000
RATE_TRUSTED_INTERVAL=1m

RATE_UNTRUSTED_LIST=
RATE_UNTRUSTED_INITIAL_TOKENS=0
RATE_UNTRUSTED_MAX_TOKENS=0
RATE_UNTRUSTED_TOKENS_PER_INTERVAL=0
RATE_UNTRUSTED_INTERVAL=0s

RATE_DEFAULT_INITIAL_TOKENS=300
RATE_DEFAULT_MAX_TOKENS=300
RATE_DEFAULT_TOKENS_PER_INTERVAL=100
RATE_DEFAULT_INTERVAL=1m
